.toptop {
  overflow: hidden;
}

.new-arrivals__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 737px;
  background-color: #f8f3f4;
}
.new-arrivals__header_h2 {
  margin-top: 59px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 24px;
  color: #f16d7f;
}
.new-arrivals__header_nav {
  margin-top: 65px;
  margin-bottom: 66px;
  display: flex;
}
.new-arrivals__header_nav-link {
  font-weight: 300;
  font-size: 14px;
  color: #636363;
}
.new-arrivals__header_nav-link:hover {
  color: #f16d7f;
}
.new-arrivals__header_nav-link-box:last-of-type .new-arrivals__header_nav-link {
  font-size: 14px;
  font-weight: 700;
  color: #f16d7f;
}
.new-arrivals__header_nav-link-box:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 300;
  font-size: 14px;
  color: #636363;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.filter__content {
  background-color: #fff;
  box-shadow: 6px 40px 35px 0 rgba(0, 0, 0, 0.21);
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter[open] {
  background: #fff;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #f16d7f;
}
.filter[open] path {
  fill: #f16d7f;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
.filter__item {
  margin-top: 16px;
}
.filter__title {
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #f16d7f;
}
.filter_item[open] .filter__title {
  color: #f16d7f;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}
.filter__link:hover {
  color: #f16d7f;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
  z-index: 1;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}
.sort__heading {
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  background: #fff;
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}

.items-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.items {
  background: #f8f8f8;
  position: relative;
  width: 100%;
  max-width: 360px;
}
.items__img {
  width: 100%;
  height: auto;
}
.items__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
}
.items:hover .items__overlay {
  opacity: 1;
}
.items__heading-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 16px;
}
.items__h5 {
  font-weight: 400;
  font-size: 13px;
  color: #000;
}
.items__p {
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  max-width: 315px;
}
.items__price {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
}

.page-selection {
  width: 248px;
  height: 44px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  padding-left: 16px;
  padding-right: 16px;
}
.page-selection__number {
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4;
}
.page-selection__number:hover {
  color: #f16d7f;
}


/* Планшет */
@media (max-width: 1024px) {
    .new-arrivals__header {
        gap: 333px;
    }

    .filter-sort {
        display: flex;
        justify-content: space-between;
    }
    .filter {
        margin-left: 8px;
    }
    .filter__summary {
        padding-left: 8px;
    }

    .sort {
        margin-right: 8px;
    }

    .items-top {
        gap: 16px;
    }

    .item-none {
        display: none;
    }

    .page-selection {
        margin-top: 40px;
        margin-bottom: 63px;
    }

}

/* Мобилка */
@media (max-width: 767px) {
    .new-arrivals__header {
        gap: 32px;
        flex-direction: column;
        padding-top: 24px;
        padding-bottom: 46px;
    }
    .new-arrivals__header_h2 {
        margin: 0;
    }
    .new-arrivals__header_nav {
        margin: 0;
    }

    .filter-sort {
        padding-top: 12px;
        height: 81px;
        position: relative;
        justify-content: center;
    }
    .filter {
        margin-left: 0;
        position: absolute;
        z-index: 1;
    }
    .filter #filter__svg {
        width: 37px;
        height: 25px;
    }
    .filter__summary {
        width: 38px;
    }
    .filter__heading {
        display: none;
    }
    .filter__link {
        font-size: 12px;
    }
    .filter[open] {
        z-index: 3;
    }

    .sort {
        margin-left: 100px;
        margin-right: 0;
        z-index: 2;
    }
    .sort__heading {
        font-size: 12px;
    }

    .items-top {
        gap: 16px;
    }
}