.toptop {
  overflow: hidden;
}

.top {
  background: #f1e4e6;
}
.top__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.top__heading {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
}
.top__heading_big {
  font-weight: 900;
  font-size: 48px;
  color: #222;
}
.top__heading_p {
  font-weight: 700;
  font-size: 32px;
}
.top__heading_color {
  font-weight: 700;
  font-size: 32px;
  color: #f16d7f;
}


.catalog {
  margin-top: 65px;
  margin-bottom: 96px;
  display: grid;
  gap: 30px;
  /* 3 колонки с одинаковой шириной */
  grid-template-columns: repeat(3, 360px);
  /* первый ряд высота 260, второй ряд 180 */
  grid-template-rows: 260px 180px;
  justify-content: center;
}
.catalog__block {
  display: grid;
  place-items: center;
}
.catalog__pictures {
  grid-area: 1/1;
  max-width: 100%;
}
.catalog__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: 1/1;
}
.catalog__offer {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.catalog__category {
  font-weight: 700;
  font-size: 24px;
  color: #f16d7f;
}
.catalog__block-big {
  display: grid;
  place-items: center;
}
.catalog__pictures-big {
  grid-area: 1/1;
}


.items-heading {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.items-heading__h3 {
  font-weight: 400;
  font-size: 30px;
  color: #222;
}
.items-heading__text {
  font-weight: 400;
  font-size: 14px;
  color: #9f9f9f;
}

/* Планшет */
@media (max-width: 1024px) {
    .top__content {
        gap: 40px;
    }
    .top__photo {
        max-width: 370px;
        height: auto;
    }
    .top__heading_big {
        font-weight: 900;
        font-size: 44px;
        color: #222;
    }
    .top__heading_p {
        font-weight: 700;
        font-size: 24px;
    }
    .top__heading_color {
        font-weight: 700;
        font-size: 24px;
        color: #f16d7f;
    }
    .catalog {
        /* display: grid; */
        justify-items: center;
        margin-top: 20px;
        margin-bottom: 110px;
        grid-template-columns: 232px 232px 232px;
        grid-template-rows: 167px 120px;
        justify-content: center;
        row-gap: 19px;
    }
    .catalog__block {
        display: grid;
        gap: 24px;
        justify-content: center;
    }
    .catalog__block img {
        max-width: 232px;
    }
    .catalog__block-big {
        grid-column: span 3;
        gap: 19px;
    }
    .catalog__block-big img {
        width: 100%;
    }

    .items-heading {
        margin-bottom: 72px;
    }
}

/* Мобилка */
@media (max-width: 767px) {
    .top__photo {
        display: none;
    }
    .top__info {
        padding-top: 148px;
        padding-bottom: 149px;
    }
    .top__heading_big {
        font-size: 38px;
    }
    .top__heading_p {
        font-size: 20px;
    }
    .top__heading_color {
        font-size: 20px;
    }

    .catalog {
        margin-top: 65px;
        margin-bottom: 64px;
        display: grid;
        grid-template-columns: 343px;
        grid-template-rows: 248px 248px 248px 111px;
        justify-items: center;
        row-gap: 32px;
        /* обрезаю края картинки и оставляю центр */
    }
    .catalog__block {
        display: grid;
        gap: 32px;
        justify-content: center;
    }
    .catalog__block img {
        max-width: 100%;
    }
    .catalog__block-big {
        grid-column: span 1;
        gap: 32px;
    }
    .catalog__block-big img {
        width: 100%;
        height: 111px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    .items-heading {
        margin-bottom: 64px;
    }
}

/* Редактирую отдельно параметры картинок на минимальной ширине
чтобы блоки не уезжали */
@media (max-width: 320px) {
  .catalog__block img {
    max-width: 100%;
  }
  .catalog__block-big img {
    max-width: 100%;
  }
  .items-heading__text {
    text-align: center;
  }
}