#main-headline {
    justify-content: flex-start;
}

.new-arrivals__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 737px;
    background-color: #f8f3f4;
}
.new-arrivals__header_h2 {
    margin-top: 59px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 24px;
    color: #f16d7f;
}

.cart {
    margin-top: 96px;
    margin-bottom: 128px;
    display: flex;
    flex-direction: row;
    gap: 128px;
}
    .cart__goods {
    max-width: 652px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    }
.cart__form {
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 57px;
}

.cart-item {
    width: 652px;
    height: 306px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
}
.cart-item__img {
    max-width: 262px;
    max-height: 306px;
    fill: #f16d7f;
}
.cart-item__discription {
    width: 262px;
    margin-left: 31px;
    padding-top: 22px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}
.cart-item__h3 {
    font-weight: 400;
    font-size: 24px;
    color: #000;
    display: flex;
    flex-direction: column;
}
.cart-item__property {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.cart-item__text {
    font-weight: 400;
    font-size: 22px;
    color: #6f6e6e;
}
.cart-item__price {
    color: #f16d7f;
}
.cart-item__quantity {
    margin-left: 24px;
    width: 44px;
    height: 20px;
    text-align: center;
    border: solid;
    border-color: #6f6e6e;
}
.cart-item__imgcross {
    margin-left: 57px;
    margin-top: 28px;
    margin-bottom: 260px;
}
.cart-item__imgcross:hover path {
    fill: #f16d7f;
}

.goods-buttons {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.goods-buttons__push {
    padding: 17px 40px;
    font-weight: 300;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    border: solid;
    border-color: #A4A4A4;
}
.goods-buttons__push:hover {
    color: #f16d7f;
    border-color: #f16d7f;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.form-field__h3 {
    font-weight: 300;
    font-size: 16px;
    color: #000;
}
.form-field__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.form-field__boxtext {
    width: 340px;
    font-weight: 300;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 17px;
    color: #000;
    border: solid;
    border-color: #A4A4A4;
}
.form-field__boxtext:hover {
     border-color: #f16d7f;
}
.form-field input::-moz-placeholder {
    font-weight: 300;
    font-size: 13px;
    color: #A4A4A4;
}
.form-field input::placeholder {
    font-weight: 300;
    font-size: 13px;
    color: #A4A4A4;
}
.form-field input:hover::-moz-placeholder {
    color: #f16d7f;
}
.form-field input:hover::placeholder {
    color: #f16d7f;
}
.form-field__button {
    padding: 10px 15px 12px;
    font-weight: 300;
    font-size: 11px;
    background-color: white;
    color: #A4A4A4;
    border: solid;
    border-color: #A4A4A4;
    transition: background-color 0.3s ease-in-out;
}
.form-field__button:hover {
    color: white;
    background-color: #f16d7f;
    border-color: #f16d7f;
}

.form-proced {
    background-color: #f5f3f3;
    width: 360px;
    padding-top: 39px;
    padding-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-proced__checkout {
    width: 275px;
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    border-bottom: solid #A4A4A4;
}
.form-proced__sub {
    font-weight: 400;
    font-size: 11px;
    color: #6f6e6e;
}
.form-proced__grand {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #000;
}
.form-proced__price {
    font-weight: 700;
    color: #f16d7f;
}
.form-proced__button {
    margin-top: 17px;
    width: 273px;
    padding: 16px 42px;
    color: #f16d7f;
    background-color: white;
    border-style: solid;
    border-color: #f16d7f;
    transition: background-color 0.3s ease-in-out;
}
.form-proced__button:hover {
    background-color: #f16d7f;
    color: white;
}


/* Планшет */
@media (max-width: 1024px) {
    .cart {
        margin-top: 59px;
        flex-wrap: wrap;
        gap: 64px;
    }
    .cart__goods {
        max-width: 768px;
        width: 100vw;
        gap: 40px;
    }
    .cart-item {
        max-width: 768px;
        width: 100%;
    }
    .cart-item__imgcross {
        margin-right: 24px;
        margin-left: 155px;
    }
    .goods-buttons {
        margin-top: 22px;
        justify-content: center;
        gap: 48px;
    }
    .cart__form {
        padding-top: 0;
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }

    .goods-buttons {
        margin-top: 22px;
        justify-content: center;
        gap: 48px;
    }

    .form-proced {
        margin-top: 15px;
    }


}

/* Мобилка */
@media (max-width: 767px) {
    #main-headline {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .cart {
        margin-top: 39px;
        margin-bottom: 96px;
        gap: 48px;
    }
    .cart__goods {
        max-width: 425px;
        width: 100%;
        gap: 32px;
    }
    .cart__form {
        flex-direction: column;
        gap: 48px;
    }
    .cart-item {
        max-width: 425px;
        max-height: 188px;
    }
    .cart-item__img {
        height: 100%;
    }
    .cart-item__h3 {
        font-weight: 400;
        font-size: 16px;
    }
    .cart-item__text {
        font-weight: 400;
        font-size: 14px;
    }
    .cart-item__discription {
        gap: 25px;
        margin-left: 17px;
        padding-top: 13px;
        padding-bottom: 30px;
    }
    .cart-item__property {
        gap: 4px;
    }
    .cart-item__quantity {
        margin-left: 15px;
        width: 24px;
        height: 15px;
    }
    .cart-item__imgcross {
        margin-right: 12px;
        margin-left: 31px;
        margin-top: 13px;
        margin-bottom: 157px;
    }

    .goods-buttons {
        margin-top: 0;
        gap: 9px;
    }
    .goods-buttons__push {
        font-size: 12px;
        padding: 9px 18px;
    }

    .form-proced {
        margin-top: 0;
    }
}